.contact {
  display: flex;
  flex-direction: column;
  margin: 125px auto 175px;
  width: 100%;
  max-width: 878px;
  
}

.contactModal {
  border-radius: 30px;
  width: 878px;
  background: var(--light);
  padding: 65px;

}

.heading {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  margin: 0;
}

.description {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 28px auto 35px;
}

.form {
  margin-top:35px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.row {
  width: 100%;
  display: flex;
  gap: 12px;
}

.input::placeholder, .textArea::placeholder{
  font-family: var(--poppins);
}

.textField, .textArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: var(--dark);
  }

  .input, .textArea {
    border-radius: 29px; 
    padding: 10px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border: none;
    
    &::placeholder {
      color: #6C6C6C;
    }
  }
}

.button {
  margin-top: 28px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 100%;
    margin-top: 66px;
    padding: 0 15px;
    margin-bottom: 84px;
  }

  .contactModal {
    padding: 24px 20px;
    width: 100%;  
  }
  
  .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }

  .description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 20px 0 0;
  }


  .form {
    margin-top:32px;
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    gap: 18px;
  }
}
