.services {
  display: flex;
  gap: 42px;
  max-width: 1306px;
  width: 100%;
  margin: 0 auto;
  overflow-y: hidden;
  padding-top: 292px;
}

.highlight {
  color: var(--indigo);
  font-weight: 800;
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  margin: 0;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 35px 0 0;
  width: 437px;
}

.cards {
  display: flex;
  flex-direction: column;
  max-width: 827px;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  height: 413px;
}

.card {
  cursor: grab;
  padding: 28px 22px 84px;
  width: 350px;
  height: 357px;
  overflow: hidden;
  border-radius: 20px;
  color: white;
  position: relative;
  transition: all 0.5s ease;
}

.cardHeading {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  margin: 0;
}

.cardItems {
  margin: 13px 0 0;;
  padding: 0 22px;
}

.cardItem {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.cardImage {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.content {
  width: 437px;
}

.controls {
  display:flex;
  width: 55px;
  position: absolute;
  top: 360px;
  left: -13px;

  img:hover {
    cursor: pointer;
  }
}

.dotControls {
  display: none;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-direction: column;
    overflow-x: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    height: 413px;
    padding: 0;
    width: unset;
    max-width: 100%;
  }

  .content {
    width: unset;
  }

  .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
 }

 .description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    width: auto;
 }

 .highlight {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
 }

  .card {
    width: 100%;
  }

 .services {
    flex-direction: column;
    gap: 44px;
    padding: 0 15px;
    
 }

 .controls {
    display: none;
 }

 .dotControls {
    display: flex;
    gap:8px;
    margin-left: -28px;
    position: absolute;
    bottom: -28px;
 }
}



