.nosotros {
  padding: 127px 0 0 0;
}

.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 95px;
  color: var(--orange);
  margin: 0 0 -111px;
  padding-left: 338px;
  position: relative;
  width: 1029px;
}

.hero {
  width: 100%;
  max-width: 1244px;
  margin: 0 auto;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: var(--dark);
  padding-top: 158px;

  span {
    color: var(--indigo);
    font-weight: 600;
  }
}

.row {
  display: flex;
  gap: 42px;
}

@media only screen and (max-width: 600px) {
  .paragraph {
     margin: 0; 
  }
  .nosotros {
    padding: 40px 0 0 ;
  }
  .row {
    flex-direction: column;
    margin-top: 44px;
  }

  .image {
    width: 100%;
  }
  .heading {
    font-style: normal;
    font-size: 40px;
    line-height: 51px;
    margin:0;
    width: unset;
    padding: 0 15px 0 15px;;
  }

  .paragraph {
    width: 100%;
    padding: 0 15px;
  }
}

