html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



:root {
    --dark: #212121;
    --orange: #D57315;
    --beige: #D8CDBA;
    --mintGreen: #70B39C;
    --indigo: #454797;
    --purple: #5A599C;
    --light: #ECEBE9;
    --green: #1E8231;
}
