.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 142px;
  background-size: cover;
  height: 372px;
  position: relative;
}

.highlight {
  color: var(--indigo);
}

.image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px; 
  height: 372px;
}


.modal {
  border-radius: 20px;
  background-color: var(--light);
  padding: 50px 65px;
  width: 100%;
  max-width: 1244px;
  margin: -173px auto 0;
  position: absolute;
  top: 402px;
}

.content {
  max-width: 800px;
}

.kpis {
  display:flex;
  flex-direction: column;
  gap: 23px;
}

.kpi { 
  width: 246px;
}

.estimation {
  color: var(--orange);
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 108px;
  text-align: right;
  position: relative;
  margin: 0;
}

.legend {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: -33px;
  color: var(--dark)
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  margin: 0;
  color: var(--dark);
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 25px 0 0 0;
  color: var(--dark);
}

.cta {
  width: 100%;
  max-width: 342px;
  margin: 45px auto 0;
}

.rowContainer {
  display:flex;
  gap: 55px;
  
}

@media only screen and (max-width: 600px) {
  .about {
    width: 100%;
    height: 761px;
    padding: 50px 15px;
    margin-bottom: 66px;
  }

  .modal {
    padding: 24px 20px;
    margin: 0
  }

  .kpis {   
    order: 1; 
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    flex-direction: row;
    gap: 44px;
    display: flex;
    justify-content: center;
  }

  .rowContainer {
    flex-direction: column;
    gap: 30px;
  }
  
  .heading {
    font-size: 22px;
    line-height: 32px;
  } 

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
  }

  .kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: unset;
  }

  .cta {
    margin: 44px auto -40px;

    button {
      width: 100%;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
    }
  }

  .estimation {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
  }
  
  .legend {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }

  
}

