.button {
  color: var(--dark);
  border-radius: 32px;
  padding: 10px 29px 10px 29px;
  height: 50px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  border: none;

  &:hover {
  cursor: pointer;
  }
}

.primary {
  background-color: #454797;
  color: white;
}


.default {
  background-color: white;
}