.nav {
  display:flex;
  margin-left: auto;
}

.headerContainer {
  width: 100%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
}

.header {
  display:flex;
  padding: 0 55px;
  margin: 0 auto;
  max-width: 1440px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
}

.faqAlias {
  display: none;
}

.menu {
  display: none;
  cursor: pointer;
  margin-left: auto;
}

.social{
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav {
   display: none;
  }

  .expandedNav {
    align-items: flex-end;
    text-align: right;
    display: flex;
    position: absolute;
    top: 90px;
    right: 0;
    flex-direction: column;
    z-index: 1;
    padding: 45px 35px;
    background: white;
    width: 100%;
    gap: 30px;
    z-index: 2;
    align-items: flex-end;
  }

  .menu {
    display: flex;
  }

  .header{
    padding: 0 18px;
  }

  .link {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }

  .faqAlias {
    display: block;
  }

  .social {
    display: flex;
    gap: 47px;
    width: 178px;
    align-self: center;
    margin-top: 278px;
  }

  .specialButton {
    width: 100%;

    button {
      width: 100%;
    }
  }
}