.nav {
  display:flex;
  margin-left: auto;
}

.headerContainer {
  width: 100%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
}

.header {
  display:flex;
  padding: 0 55px;
  margin: 0 auto;
  max-width: 1440px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  cursor: pointer;
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .nav {
   display: none;
  }

  .menu {
    display: flex;
  }

  .header{
    padding: 0 18px;
  }
}