.hero {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.description {
  position: absolute;
  top:171px;
  left: 85px;
  width: 740px;
}


.heading {
  font-weight: 600;
  font-size: 72px;
  line-height: 95px;
  color: white;
  margin: 0;
  b {
    font-weight: 900;
  }
}

.subheading {
  font-size:22px;
  color: white;
  margin-top: 10px;
  margin-bottom: 45px;
  max-width: 659px;
}

.image {
  max-width:100%;
  width:100%;
  margin: 0 auto;
}

