.hero {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.59) 0%, rgba(0, 0, 0, 0) 67.72%, rgba(0, 0, 0, 0) 97.16%);
}

.description {
  position: absolute;
  top:171px;
  left: 85px;
  width: 740px;
}

.heading {
  font-weight: 600;
  font-size: 72px;
  line-height: 95px;
  color: white;
  margin: 0;
  b {
    font-weight: 900;
  }
}

.subheading {
  font-size:22px;
  color: white;
  margin-top: 10px;
  margin-bottom: 45px;
  max-width: 659px;
}

.image {
  max-width:100%;
  width:100%;
  margin: 0 auto;
}


@media only screen and (max-width: 600px) {
  .description {
    position: relative;
    z-index: 1;
    padding: 251px 15px 48px;
  }

  .heading {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
  }

  .subheading {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }

  .image {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}