.teammates {
  margin: 0 auto;
  max-width: 1206px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 120px 0 175px;
}

.carousel {
  display: none;
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  margin: 0 0 80px;
  padding: 0 15px;
}

.normalCards{
  gap: 113px;
  flex-direction: column;
  display:flex;
}

@media only screen and (max-width: 600px) {
  .heading {
    margin-bottom: 37px;
    font-style: normal;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }

  .carousel {
    display: block;
  }

  .normalCards {
    display:none
  }

  .teamcards {
    gap: 28px;
  }

  .description{
    position: relative;
   
   }
}