
.card {
  display: flex;
  gap:40px;
  background: var(--light);
  max-width: 962px;
  margin: 0 auto;
  padding-bottom: 74px;
  position: relative;
  border-radius: 10px;
  flex-direction: column;
  padding: 44px 40px;
  position: relative;
  height: 339px;
  width: 100%;
}

.description {
  display: flex;
  position: absolute;
}

.details {
  height: 93px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.cardImage {
  height: 290px;
  width: 253px;
  border-radius: 15px;
}


.name {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  color: var(--dark);
}

.role {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--indigo);
  margin: 0;
}

.bio {
  margin: 12px 0 0; 
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 724px;
}

@media only screen and (max-width: 400) {
  .card {
    display: flex;
    align-items: center;
    padding: 24px 20px;
    flex-direction: column;
  }

  .cardImage {
    margin-top: -140px;
    margin-left: -100px;
  }

  .details {
    align-self: flex-end;
  }
 
  .name {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .role {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}